<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="enableSimpleMembership" value="true" />
  <add key="Culture" value="vi-VN" />
  <add key="Home_ProductNew_Type" value="Product" />
  <add key="Home_ModuleHome_Type" value="Article" />
  <add key="Home_Highlight_Type" value="project" />
  <add key="PageSize" value="15" />
  <add key="PageSizeSmall" value="12" />
  <add key="MinYear" value="1970" />
  <add key="Domain" value="http://omegatours.vn" />
  <add key="Home_Highlight" value="6,5,4,3,2,1" />
  <add key="Home_SpecialOffers" value="12,13,14,15,16,17,18" />
  <add key="TotalVisitors" value="1224" />
</appSettings>
