<script>
    function OnFailure() {
        alert("@Html.Raw(Resources.Common.SendFaulty)");
    }
    function OnSuccess(data, status, xhr) {
        if (data.Success) {
            alert('@Resources.Common.ThankYouForRegis');
            $('#frmnewsletter')[0].reset();
        } else {
            alert(data.Error);
        }
    }
</script>

<div class="footer-item">
    <h6>News <span>letter</span></h6>
    @using (Ajax.BeginForm("_GetLetter", "Home", new { area = "ContentType" },
                   new AjaxOptions
                   {
                       OnSuccess = "OnSuccess",
                       OnFailure = "OnFailure"
                   }, new { id = "frmnewsletter" }))
    {
        <div class="input-group subscribe-style-two">
            <input type="email" class="form-control input-subscribe" placeholder="@Resources.Common.YourEmail">
            <span class="input-group-btn">
                <button class="btn btn-subscribe" type="submit">Subscribe</button>
            </span>
        </div>
    }

</div>

