@model IList<WebSlide>
@{
    var style = "active";
}


<section class="slider-wrapper p-0">
    <div id="slider-style-one" class="carousel slide bs-slider control-round indicators-line" data-ride="carousel"
         data-pause="hover" data-interval="5000">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#slider-style-one" data-slide-to="0" class="active"></li>
            <li data-target="#slider-style-one" data-slide-to="1"></li>
            <li data-target="#slider-style-one" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper For Slides -->
        <div class="carousel-inner" role="listbox">
            @foreach (var m in Model)
            {
                <div class="carousel-item @style">

                    <!-- Slide Background -->
                    <img src="@m.Image" alt="@m.Title" class="slide-image" />
                    <div class="bs-slider-overlay"></div>                   
                </div>
                if (style == "active")
                {
                    style = "";
                }
            }
            </div>
        <!-- End of Wrapper For Slides -->
        <!-- Left Control -->
        <a class="left carousel-control" href="#slider-style-one" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <!-- Right Control -->
        <a class="right carousel-control" href="#slider-style-one" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
    <!-- End  slider-style-one Slider -->
</section>