@model IEnumerable<WebModels.WebModule>
@{
}

<div class="col-md-12 text-center">
    <ul id="filter-list">
        <li class="filter active" data-filter="all">All</li>

        @foreach (var item in Model)
        {
            <li class="filter" data-filter="@item.ID">@item.Title</li>
        }
    </ul>
</div>
