@model IEnumerable<WebContent>

@if (Model != null)
{
    <section class="feature-section over-layer-black pt-75 pb-80">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h4>Touran Travel Features</h4>
                    <h2>Why <span>Choose</span> Touran</h2>
                    <p>@ViewBag.description</p>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="feature-item">
                            <div class="icon-box">
                                <i class="@item.Title"></i>
                            </div>
                            <div class="content">
                                <h3><a href="#">@Html.Raw(item.Body)</a></h3>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

}
<!-- Feature Section End -->