@model IEnumerable<WebContent>

<!-- Testimonials Section Start -->
<section class="testimonials-section pt-75 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-title">
                    <h2>@ViewBag.title</h2>
                    <div class="sec-line mb-40"></div>
                </div>
                <div class="testimonials-post testimonials_slide_col_two owl-carousel owl-theme owl-navst st-three">
                    @foreach (var item in Model)
                    {
                        <div class="testimonials-item">
                            <div class="thumb">
                                <img src="@item.Image" alt="">
                            </div>
                            <div class="content">
                                <h5>@item.Title</h5>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                    <li><a href="#"><i class="fa  fa-star-o"></i></a></li>
                                </ul>
                                <p><i class="fa fa-quote-left"></i>@Html.Raw(item.Body)</p>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials Section End -->