@model IEnumerable<DayOfTour>
@{

    Layout = "";
}

<style>
    .responsive-accordion {
        font-family: lato,helvetica neue,helvetica,arial,sans-serif;
        font-size: 16px;
    }
</style>



<ul class="responsive-accordion responsive-accordion-default bm-larger">
    @foreach (var item in Model)
    {
        <li>
            <div class="responsive-accordion-head">
                @item.Title
                <i class="fa fa-plus-circle plus responsive-accordion-plus fa-fw"></i>
                <i class="fa fa-minus-circle responsive-accordion-minus fa-fw"></i>
            </div>
            <div class="responsive-accordion-panel">

                @Html.Raw(item.Body)

            </div>
        </li>
    }

</ul>
