@model IEnumerable<WebModels.WebContent>
@{
    ViewBag.Title = "_TopDestinations";
    Layout = "";
}

<div class="title-box">
    <h3>Top <span>Destination</span></h3>
</div>
<div class="tags-item">
    @foreach (var item in Model)
    {
        var url = Url.Action("Detail", "Home", new
        {
            metatitle = item.MetaTitle != null ? item.MetaTitle : "web",
            m_metatitle = item.WebModule.MetaTitle != null ? item.WebModule.MetaTitle : "web",
            area = ""
        });
        <a class="" href="@url" title="@item.Title" role="button">@item.Title</a>
    }

</div>